In [1]:
import pandas as pd

In [8]:
base_dir = './clean-data'

pops = pd.read_csv(f'{base_dir}/populations.csv')
bios = pd.read_csv(f'{base_dir}/bios.csv')
results = pd.read_csv(f'{base_dir}/results.csv')

### Which countries have the most medals?

In [23]:
results[results['as'].str.contains('Michael Phelps')].value_counts('medal')

medal
Gold      23
Silver     3
Bronze     2
Name: count, dtype: int64

In [24]:
results.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN

In [76]:
country_code = 'USA'

medals = results[(results['medal'].notna()) & (results['type']=='Summer') & (~results['event'].str.endswith('(YOG)'))].drop_duplicates(['year', 'type', 'discipline','noc', 'event', 'medal'])
medals.groupby(['noc', 'year']).count().loc[country_code]

        type  discipline  event   as  athlete_id  team  place  tied  medal
year
1896.0    19          19     19   19          19     0     19    19     19
1900.0    51          51     51   51          51     4     51    51     51
1904.0   250         250    250  250         250    45    250   250    250
1908.0    46          46     46   46          46     5     46    46     46
1912.0    64          64     64   64          64    12     64    64     64
1920.0    96          96     96   96          96    22     96    96     96
1924.0   100         100    100  100         100    22    100   100    100
1928.0    56          56     56   56          56     9     56    56     56
1932.0   104         104    104  104         104    22    104   104    104
1936.0    57          57     57   57          57     9     57    57     57
1948.0    85          85     85   85          85    19     85    85     85
1952.0    76          76     76   76          76    14     76    76     76
1956.0    74          74     74   74          74    13     74    74     74
1960.0    71          71     71   71          71    13     71    71     71
1964.0    91          91     91   91          91    21     91    91     91
1968.0   107         107    107  107         107    16    107   107    107
1972.0    94          94     94   94          94    16     94    94     94
1976.0    94          94     94   94          94    18     94    94     94
1984.0   173         173    173  173         173    38    173   173    173
1988.0    94          94     94   94          94    26     94    94     94
1992.0   108         108    108  108         108    28    108   108    108
1996.0   101         101    101  101         101    30    101   101    101
2000.0    91          91     91   91          91    29     91    91     91
2004.0   101         101    101  101         101    29    101   101    101
2008.0   112         112    112  112         112    31    112   112    112
2012.0   104         104    104  104         104    29    104   104    104
2016.0   121         121    121  121         121    29    121   121    121
2020.0   109         109    109  109         109    28    109   109    109

In [86]:
print(medals[(medals['noc']==country_code) & (medals['year']==1904)].to_string())

          year    type                        discipline                                                 event                      as  athlete_id  noc                                     team  place   tied   medal
4396    1904.0  Summer                           Archery                Double Columbia Round, Women (Olympic)              Emma Cooke        2206  USA                                      NaN    2.0  False  Silver
4397    1904.0  Summer                           Archery                Double National Round, Women (Olympic)              Emma Cooke        2206  USA                                      NaN    2.0  False  Silver
4405    1904.0  Summer                           Archery                Double Columbia Round, Women (Olympic)             Lida Howell        2209  USA                                      NaN    1.0  False    Gold
4406    1904.0  Summer                           Archery                Double National Round, Women (Olympic)             Lida Howell        2209  USA                                      NaN    1.0  False    Gold
4407    1904.0  Summer                           Archery                           Team Round, Women (Olympic)             Lida Howell        2209  USA                       Cincinnati Archers    1.0  False    Gold
4421    1904.0  Summer                           Archery                Double Columbia Round, Women (Olympic)           Eliza Pollock        2215  USA                                      NaN    3.0  False  Bronze
4422    1904.0  Summer                           Archery                Double National Round, Women (Olympic)           Eliza Pollock        2215  USA                                      NaN    3.0  False  Bronze
4445    1904.0  Summer                           Archery                  Double American Round, Men (Olympic)             Phil Bryant        2225  USA                                      NaN    1.0  False    Gold
4446    1904.0  Summer                           Archery                      Double York Round, Men (Olympic)             Phil Bryant        2225  USA                                      NaN    1.0  False    Gold
4447    1904.0  Summer                           Archery                             Team Round, Men (Olympic)             Phil Bryant        2225  USA                           Boston Archers    3.0  False  Bronze
4453    1904.0  Summer                           Archery                             Team Round, Men (Olympic)           William Clark        2228  USA                       Cincinnati Archers    2.0  False  Silver
4484    1904.0  Summer                           Archery                             Team Round, Men (Olympic)            Louis Maxson        2238  USA                          Potomac Archers    1.0  False    Gold
4512    1904.0  Summer                           Archery                  Double American Round, Men (Olympic)           Will Thompson        2249  USA                                      NaN    3.0  False  Bronze
4513    1904.0  Summer                           Archery                      Double York Round, Men (Olympic)           Will Thompson        2249  USA                                      NaN    3.0  False  Bronze
4525    1904.0  Summer                           Archery                  Double American Round, Men (Olympic)         Robert Williams        2255  USA                                      NaN    2.0  False  Silver
4526    1904.0  Summer                           Archery                      Double York Round, Men (Olympic)         Robert Williams        2255  USA                                      NaN    2.0  False  Silver
5772    1904.0  Summer                            Tennis                                Singles, Men (Olympic)           Alphonzo Bell        2746  USA                                      NaN    3.0   True  Bronze
5774    1904.0  Summer                            Tennis                                Doubles, Men (Olympic)           Alphonzo Bell        2746  USA                             Robert LeRoy    2.0  False  Silver
5822    1904.0  Summer                            Tennis                                Doubles, Men (Olympic)         Clarence Gamble        2761  USA                              Arthur Wear    3.0   True  Bronze
5846    1904.0  Summer                            Tennis                                Singles, Men (Olympic)            Robert LeRoy        2770  USA                                      NaN    2.0  False  Silver
5853    1904.0  Summer                            Tennis                                Doubles, Men (Olympic)           Edgar Leonard        2772  USA                             Beals Wright    1.0  False    Gold
5860    1904.0  Summer                              Golf                                   Team, Men (Olympic)        Ralph McKittrick        2775  USA       Trans-Mississippi Golf Association    2.0  False  Silver
5963    1904.0  Summer                            Tennis                                Singles, Men (Olympic)            Beals Wright        2804  USA                                      NaN    1.0  False    Gold
13133   1904.0  Summer                            Boxing                            Heavyweight, Men (Olympic)              Sam Berger        8618  USA                                      NaN    1.0  False    Gold
13149   1904.0  Summer                            Boxing                              Flyweight, Men (Olympic)             Miles Burke        8632  USA                                      NaN    2.0  False  Silver
13186   1904.0  Summer                            Boxing                              Flyweight, Men (Olympic)         George Finnegan        8666  USA                                      NaN    1.0  False    Gold
13187   1904.0  Summer                            Boxing                           Bantamweight, Men (Olympic)         George Finnegan        8666  USA                                      NaN    2.0  False  Silver
13197   1904.0  Summer                            Boxing                          Featherweight, Men (Olympic)            Fred Gilmore        8676  USA                                      NaN    3.0  False  Bronze
13207   1904.0  Summer                            Boxing                          Featherweight, Men (Olympic)            Frank Haller        8686  USA                                      NaN    2.0  False  Silver
13230   1904.0  Summer                            Boxing                           Bantamweight, Men (Olympic)             Oliver Kirk        8709  USA                                      NaN    1.0  False    Gold
13231   1904.0  Summer                            Boxing                          Featherweight, Men (Olympic)             Oliver Kirk        8709  USA                                      NaN    1.0  False    Gold
13247   1904.0  Summer                            Boxing                           Welterweight, Men (Olympic)               Joe Lydon        8722  USA                                      NaN    3.0  False  Bronze
13249   1904.0  Summer                            Boxing                               Football, Men (Olympic)               Joe Lydon        8722  USA              Christian Brothers' College    2.0  False  Silver
13261   1904.0  Summer                            Boxing                           Middleweight, Men (Olympic)           Charles Mayer        8725  USA                                      NaN    1.0  False    Gold
13262   1904.0  Summer                            Boxing                            Heavyweight, Men (Olympic)           Charles Mayer        8725  USA                                      NaN    2.0  False  Silver
13270   1904.0  Summer                            Boxing                            Heavyweight, Men (Olympic)           Bill Michaels        8733  USA                                      NaN    3.0  False  Bronze
13312   1904.0  Summer                            Boxing                            Lightweight, Men (Olympic)           Harry Spanjer        8775  USA                                      NaN    1.0  False    Gold
13313   1904.0  Summer                            Boxing                           Welterweight, Men (Olympic)           Harry Spanjer        8775  USA                                      NaN    2.0  False  Silver
13319   1904.0  Summer                            Boxing                           Middleweight, Men (Olympic)           Ben Spradling        8780  USA                                      NaN    2.0  False  Silver
13321   1904.0  Summer                            Boxing                            Lightweight, Men (Olympic)         Peter Sturholdt        8782  USA                                      NaN    3.0  False  Bronze
13330   1904.0  Summer                            Boxing                            Lightweight, Men (Olympic)        Russell Van Horn        8791  USA                                      NaN    2.0  False  Silver
13342   1904.0  Summer                            Boxing                           Welterweight, Men (Olympic)                Al Young        8803  USA                                      NaN    1.0  False    Gold
24036   1904.0  Summer           Cycling Track (Cycling)                                5 miles, Men (Olympic)          Arthur Andrews       13410  USA                                      NaN    3.0  False  Bronze
24037   1904.0  Summer           Cycling Track (Cycling)                               25 miles, Men (Olympic)          Arthur Andrews       13410  USA                                      NaN    2.0  False  Silver
24405   1904.0  Summer           Cycling Track (Cycling)                                 ¼ mile, Men (Olympic)        Teddy Billington       13613  USA                                      NaN    3.0  False  Bronze
24406   1904.0  Summer           Cycling Track (Cycling)                                 ⅓ mile, Men (Olympic)        Teddy Billington       13613  USA                                      NaN    3.0  False  Bronze
24407   1904.0  Summer           Cycling Track (Cycling)                                 ½ mile, Men (Olympic)        Teddy Billington       13613  USA                                      NaN    2.0  False  Silver
24408   1904.0  Summer           Cycling Track (Cycling)                                 1 mile, Men (Olympic)        Teddy Billington       13613  USA                                      NaN    3.0  False  Bronze
25519   1904.0  Summer           Cycling Track (Cycling)                                 ¼ mile, Men (Olympic)          Burton Downing       14189  USA                                      NaN    2.0  False  Silver
25520   1904.0  Summer           Cycling Track (Cycling)                                 ⅓ mile, Men (Olympic)          Burton Downing       14189  USA                                      NaN    2.0  False  Silver
25521   1904.0  Summer           Cycling Track (Cycling)                                 ½ mile, Men (Olympic)          Burton Downing       14189  USA                                      NaN    3.0  False  Bronze
25522   1904.0  Summer           Cycling Track (Cycling)                                 1 mile, Men (Olympic)          Burton Downing       14189  USA                                      NaN    2.0  False  Silver
25523   1904.0  Summer           Cycling Track (Cycling)                                2 miles, Men (Olympic)          Burton Downing       14189  USA                                      NaN    1.0  False    Gold
25525   1904.0  Summer           Cycling Track (Cycling)                               25 miles, Men (Olympic)          Burton Downing       14189  USA                                      NaN    1.0  False    Gold
26181   1904.0  Summer           Cycling Track (Cycling)                                2 miles, Men (Olympic)            Oscar Goerke       14519  USA                                      NaN    2.0  False  Silver
26784   1904.0  Summer           Cycling Track (Cycling)                                 ¼ mile, Men (Olympic)           Marcus Hurley       14821  USA                                      NaN    1.0  False    Gold
26785   1904.0  Summer           Cycling Track (Cycling)                                 ⅓ mile, Men (Olympic)           Marcus Hurley       14821  USA                                      NaN    1.0  False    Gold
26786   1904.0  Summer           Cycling Track (Cycling)                                 ½ mile, Men (Olympic)           Marcus Hurley       14821  USA                                      NaN    1.0  False    Gold
26787   1904.0  Summer           Cycling Track (Cycling)                                 1 mile, Men (Olympic)           Marcus Hurley       14821  USA                                      NaN    1.0  False    Gold
26788   1904.0  Summer           Cycling Track (Cycling)                                2 miles, Men (Olympic)           Marcus Hurley       14821  USA                                      NaN    3.0  False  Bronze
30052   1904.0  Summer           Cycling Track (Cycling)                                5 miles, Men (Olympic)          Charles Schlee       16489  USA                                      NaN    1.0  False    Gold
31355   1904.0  Summer           Cycling Track (Cycling)                                5 miles, Men (Olympic)            George Wiley       17175  USA                                      NaN    2.0  False  Silver
31356   1904.0  Summer           Cycling Track (Cycling)                               25 miles, Men (Olympic)            George Wiley       17175  USA                                      NaN    3.0  False  Bronze
32841   1904.0  Summer                              Golf                                   Team, Men (Olympic)        Doug Cadwallader       18149  USA           United States Golf Association    3.0  False  Bronze
32857   1904.0  Summer                              Golf                                   Team, Men (Olympic)             Ned Cummins       18155  USA                 Western Golf Association    1.0  False    Gold
32864   1904.0  Summer                              Golf                             Individual, Men (Olympic)           Chandler Egan       18159  USA                                      NaN    2.0  False  Silver
32929   1904.0  Summer                              Golf                             Individual, Men (Olympic)           Burt McKinnie       18182  USA                                      NaN    3.0   True  Bronze
33021   1904.0  Summer                          Lacrosse                               Lacrosse, Men (Olympic)           J. W. Dowling       18216  USA   St. Louis Amateur Athletic Association    2.0  False  Silver
33072   1904.0  Summer                        Tug-Of-War                             Tug-Of-War, Men (Olympic)               Max Braun       18262  USA        St. Louis Southwest Turnverein #1    2.0  False  Silver
33077   1904.0  Summer                         Athletics                               Shot Put, Men (Olympic)      Lawrence Feuerbach       18265  USA                                      NaN    3.0  False  Bronze
33082   1904.0  Summer                        Tug-Of-War                             Tug-Of-War, Men (Olympic)            Oscar Friede       18267  USA        St. Louis Southwest Turnverein #2    3.0  False  Bronze
33088   1904.0  Summer                        Tug-Of-War                             Tug-Of-War, Men (Olympic)             Sid Johnson       18271  USA                  Milwaukee Athletic Club    1.0  False    Gold
33090   1904.0  Summer                         Athletics                              High Jump, Men (Olympic)               Sam Jones       18272  USA                                      NaN    1.0  False    Gold
33099   1904.0  Summer                        Tug-Of-War                   Unlimited, Two Hands, Men (Olympic)            Franz Kugler       18274  USA                                      NaN    3.0  False  Bronze
33100   1904.0  Summer                        Tug-Of-War            All-Around Dumbbell Contest, Men (Olympic)            Franz Kugler       18274  USA                                      NaN    3.0  False  Bronze
33102   1904.0  Summer                        Tug-Of-War                 Heavyweight, Freestyle, Men (Olympic)            Franz Kugler       18274  USA                                      NaN    2.0  False  Silver
33105   1904.0  Summer                         Athletics                  56-pound Weight Throw, Men (Olympic)             Jim Mitchel       18277  USA                                      NaN    3.0  False  Bronze
45827   1904.0  Summer                           Fencing                             Foil, Team, Men (Olympic)              Arthur Fox       23702  USA                            United States    2.0  False  Silver
45858   1904.0  Summer                           Fencing                      Sabre, Individual, Men (Olympic)           William Grebe       23714  USA                                      NaN    2.0  False  Silver
45859   1904.0  Summer                           Fencing              Single Sticks, Individual, Men (Olympic)           William Grebe       23714  USA                                      NaN    3.0  False  Bronze
46043   1904.0  Summer                           Fencing              Single Sticks, Individual, Men (Olympic)  William Scott O'Connor       23770  USA                                      NaN    2.0  False  Silver
46129   1904.0  Summer                           Fencing                       Foil, Individual, Men (Olympic)          Charles Tatham       23807  USA                                      NaN    3.0  False  Bronze
46131   1904.0  Summer                           Fencing                       Épée, Individual, Men (Olympic)          Charles Tatham       23807  USA                                      NaN    2.0  False  Silver
46145   1904.0  Summer                           Fencing                       Foil, Individual, Men (Olympic)   Albertson Van Zo Post       23813  USA                                      NaN    2.0  False  Silver
46146   1904.0  Summer                           Fencing                             Foil, Team, Men (Olympic)   Albertson Van Zo Post       23813  USA                               Mixed team    1.0  False    Gold
46147   1904.0  Summer                           Fencing                       Épée, Individual, Men (Olympic)   Albertson Van Zo Post       23813  USA                                      NaN    3.0  False  Bronze
46148   1904.0  Summer                           Fencing                      Sabre, Individual, Men (Olympic)   Albertson Van Zo Post       23813  USA                                      NaN    3.0  False  Bronze
46149   1904.0  Summer                           Fencing              Single Sticks, Individual, Men (Olympic)   Albertson Van Zo Post       23813  USA                                      NaN    1.0  False    Gold
50534   1904.0  Summer               Football (Football)                               Football, Men (Olympic)        Charles Bartliff       27695  USA              Christian Brothers' College    2.0  False  Silver
50540   1904.0  Summer               Football (Football)                               Football, Men (Olympic)            Joseph Brady       27701  USA                                 St. Rose    3.0  False  Bronze
58601   1904.0  Summer  Artistic Gymnastics (Gymnastics)                  Individual All-Around, Men (Olympic)          Julius Lenhart       29389  USA                                      NaN    1.0  False    Gold
58603   1904.0  Summer  Artistic Gymnastics (Gymnastics)  Individual All-Around, Apparatus Work, Men (Olympic)          Julius Lenhart       29389  USA                                      NaN    2.0  False  Silver

In [83]:
print(medals.groupby(['noc', 'year']).value_counts(['place']).loc[country_code])

year    place
1896.0  1.0      11
        2.0       6
        3.0       2
1900.0  1.0      20
        3.0      17
                 ..
2016.0  3.0      38
        2.0      37
2020.0  2.0      41
        1.0      37
        3.0      31
Name: count, Length: 85, dtype: int64

In [26]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25