In [1]:
import pandas as pd

In [2]:
directory = './clean-data'

bios = pd.read_csv(f"{directory}/bios.csv")
results = pd.read_csv(f"{directory}/results.csv")
nocs = pd.read_csv(f"{directory}/noc_regions.csv")
pops = pd.read_csv(f"{directory}/populations.csv")

### Exploratory Data Analysis

In [9]:
pops.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,106277.0
1,Africa Eastern and Southern,AFE,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,739108306.0
2,Afghanistan,AFG,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,42239854.0
3,Africa Western and Central,AFW,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,502789511.0
4,Angola,AGO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,36684202.0

### How many medals has each country won since 1896?

In [29]:
results.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN

In [27]:
# results[(results['discipline'].str.contains('Basketball', na=False)) & (results['year']==2020)]

In [48]:
# We need to avoid double counting team sports and then sum by NOC


# Let's start simple and see if that works
medals = results[(results['medal'].notna()) & (~results['event'].str.endswith('(YOG)'))]
medals_filtered = medals.drop_duplicates(['year','type','discipline','noc','event','medal'])

In [49]:
results.query('year == 2010 and noc == "MEX"')

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
183084,2010.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Men (Olympic)",Hubertus von Hohenlohe,85893,MEX,NaN,78.0,False,NaN
183085,2010.0,Winter,Alpine Skiing (Skiing),"Slalom, Men (Olympic)",Hubertus von Hohenlohe,85893,MEX,NaN,46.0,False,NaN
241091,2010.0,Summer,Archery,"Individual, Girls (YOG)",Mariana Avitia,111486,MEX,NaN,4.0,False,NaN
241092,2010.0,Summer,Archery,"Team, Mixed Youth (YOG)",Mariana Avitia,111486,MEX,Joni Hautamäki,17.0,True,NaN
264661,2010.0,Summer,Diving (Aquatics),"Springboard, Boys (YOG)",Iván García,123304,MEX,NaN,11.0,False,NaN
264662,2010.0,Summer,Diving (Aquatics),"Platform, Boys (YOG)",Iván García,123304,MEX,NaN,3.0,False,Bronze
264891,2010.0,Summer,Cycling Road (Cycling),"Combined Team, Mixed Youth (YOG)",Ingrid Drexel,123458,MEX,Mexico,6.0,False,NaN
265915,2010.0,Summer,Modern Pentathlon,"Individual, Girls (YOG)",Tamara Vega,124042,MEX,NaN,10.0,False,NaN
265916,2010.0,Summer,Modern Pentathlon,"Relay, Mixed Youth (YOG)",Tamara Vega,124042,MEX,Eric Kruger,5.0,False,NaN
286401,2010.0,Summer,Athletics,"Hammer Throw, Boys (YOG)",Diego del Real,135110,MEX,NaN,9.0,False,NaN

In [50]:
medals[(medals['year']==2010) & (medals['noc']=='MEX') ]

Empty DataFrame
Columns: [year, type, discipline, event, as, athlete_id, noc, team, place, tied, medal]
Index: []

In [57]:
medals_filtered.groupby(['noc'])['medal'].value_counts().loc['ESP']

medal
Silver    73
Bronze    52
Gold      49
Name: count, dtype: int64

In [53]:
1191+962+844

2975/2997

0.9926593259926594

In [36]:
medals_filtered.groupby(['noc','year'])['medal'].value_counts().loc['MEX']

year    medal
1900.0  Bronze    1
1932.0  Silver    2
1936.0  Bronze    3
1948.0  Bronze    3
        Gold      2
        Silver    1
1952.0  Silver    1
1956.0  Bronze    1
        Gold      1
1960.0  Bronze    1
1964.0  Bronze    1
1968.0  Bronze    3
        Gold      3
        Silver    3
1972.0  Silver    1
1976.0  Bronze    1
        Gold      1
1980.0  Bronze    3
        Silver    1
1984.0  Silver    3
        Gold      2
        Bronze    1
1988.0  Bronze    2
1992.0  Silver    1
1996.0  Bronze    1
2000.0  Bronze    3
        Silver    2
        Gold      1
2004.0  Silver    3
        Bronze    1
2008.0  Bronze    2
        Gold      2
2010.0  Bronze    1
2012.0  Bronze    4
        Silver    3
        Gold      1
2014.0  Bronze    2
        Gold      1
        Silver    1
2016.0  Silver    3
        Bronze    2
2020.0  Bronze    3
        Gold      1
Name: count, dtype: int64

### Can we visualize where each athlete was born on a map?

In [61]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [76]:
len(bios)

145500

In [75]:
from geopy.geocoders import Nominatim
import time
cache = {}

def get_coordinates(city, region, country):
    geolocator = Nominatim(user_agent="my_app")
    key = f"{city}, {region}"
    print(f"Processing {city}, {region}")
    if key in cache:
        return cache[key]

    location = geolocator.geocode(key)

    if location:
        latitude = location.latitude
        longitude = location.longitude
        cache[key] = (latitude,longitude)
        return latitude, longitude
    else:
        print("No coordinates found")
        return None

bios_locs = bios.copy()

bios_locs['lat'] = None
bios_locs['long'] = None

for index, row in bios.iterrows():
    coordinates = get_coordinates(row['born_city'],row['born_region'], row['born_country'])
    if coordinates:
        lat, long = coordinates
        print(lat,long)
        bios_locs.loc[index,'lat'] = lat
        bios_locs.loc[index,'long'] = long

    if index % 10000 == 0:
        bios_locs.to_csv(f'updated_bios_{index}.csv', index=False)
        break

Processing Bordeaux, Gironde
44.841225 -0.5800364
Processing Meulan, Yvelines
49.0049712 1.9100835
Processing Biarritz, Pyrénées-Atlantiques
43.471143749999996 -1.552726590666314
Processing Paris VIIIe, Paris
48.8774799 2.31765
Processing Wandsworth, England
51.4570271 -0.1932607
Processing Amiens, Somme
49.8941708 2.2956951
Processing Ris-Orangis, Essonne
48.6538754 2.4151151
Processing Villeurbanne, Rhône
45.7733573 4.8868454
Processing Nîmes, Gard
43.8374249 4.3600687
Processing Farges-Allichamps, Cher
46.7582487 2.4024034
Processing Orgeval, Yvelines
48.9175 1.96982
Processing Paris XVIe, Paris
48.8631709 2.2757648
Processing nan, nan
29.3644727 112.3905651
Processing nan, nan
29.3644727 112.3905651
Processing Vire, Calvados
48.8385198 -0.8893293
Processing Paris VIIIe, Paris
48.8774799 2.31765
Processing Casablanca, Casablanca-Settat
33.5945144 -7.6200284
Processing Alès, Gard
44.1253665 4.0852818
Processing Vichy, Allier
46.1239268 3.4203712
Processing Paris XVIIe, Paris
48.8842239 2.3223639
Processing Paris Ie, Paris
No coordinates found
Processing Paris Xe, Paris
48.876225 2.3595209
Processing Cantenac, Gironde
45.030691149999996 -0.6751164838611059
Processing Paris IIe, Paris
48.868743 2.341688
Processing Neuilly-sur-Seine, Hauts-de-Seine
48.884683 2.2695658
Processing Lillers, Pas-de-Calais
50.5606 2.47604
Processing Montbéliard, Doubs
47.5102368 6.7977564
Processing nan, nan
29.3644727 112.3905651
Processing nan, nan
29.3644727 112.3905651
Processing Paris VIe, Paris
48.8504333 2.3329507
Processing Paris VIIIe, Paris
48.8774799 2.31765
Processing Bagnols-sur-Cèze, Gard
44.160481 4.6235831
Processing Barfleur, Manche
49.6706815 -1.2644272
Processing Bordeaux, Gironde
44.841225 -0.5800364
Processing Tahiti, Îles du Vent
-17.68734395 -149.44516811423745
Processing Amiens, Somme
49.8941708 2.2956951
Processing Trie-la-Ville, Oise
49.2889046 1.8342004
Processing Sunderland, England
54.9058512 -1.3828727
Processing Forest Gate, England
51.5495236 0.0249248
Processing Finchley, England
51.5973246 -0.1805587
Processing Oxford, England
51.7520131 -1.2578499
Processing Baghdad, Baghdad
33.3061701 44.3872213
Processing Cranbrook, England
51.0965459 0.5321089
Processing Wandsworth, England
51.4570271 -0.1932607
Processing Ealing, England
51.5126553 -0.3051952
Processing Paddington, England
51.5154795 -0.175365
Processing Lewisham, England
51.4624292 -0.0101787
Processing Torquay, England
50.4652392 -3.5211361
Processing Reading, England
51.4564242 -0.9700664
Processing nan, nan
29.3644727 112.3905651
Processing Upton, England
52.5907194 -0.3672758
Processing Bristol, England
51.4538022 -2.5972985
Processing Kilburn, England
51.541882 -0.1979358
Processing Radcliffe, England
53.5593382 -2.3261546
Processing Burlingame, California
37.5780965 -122.3473099
Processing Torquay, England
50.4652392 -3.5211361
Processing Ealing, England
51.5126553 -0.3051952
Processing Dunstable, England
51.8861316 -0.5209341
Processing Bayswater, England
51.5122764 -0.1883854
Processing Donnington, England
50.811637899999994 -0.7899659047251211
Processing Pontypridd, Wales
51.6001047 -3.3449362
Processing Halstead, England
51.9453005 0.6425012384567785
Processing London, England
51.5074456 -0.1277653
Processing London, England
51.5074456 -0.1277653
Processing Alderbury, England
51.0456497 -1.7395465
Processing Southport, England
53.6475988 -3.0041751
Processing Kensington, England
51.4989948 -0.1991229
Processing Beighton, England
52.616298549999996 1.5260029892852551
Processing Epping, England
51.6982689 0.1102918
Processing Southampton, England
50.9025349 -1.404189
Processing Ryde, England
50.7299865 -1.1603699
Processing Zululand, KwaZulu-Natal
-27.897909900000002 31.293846335885597
Processing Harlow, England
51.7676194 0.0974893
Processing Newham, England
51.5300157 0.029309078788513746
Processing Leamington Spa, England
52.2913394 -1.536404
Processing Upton, England
52.5907194 -0.3672758
Processing Solihull, England
52.4130189 -1.7768935
Processing Richmond, England
51.4405529 -0.3076394377337949
Processing Dublin, Dublin
53.38026325 -6.293810883072954
Processing Cape Town, Western Cape
-33.928992 18.417396
Processing Kolkata (Calcutta), West Bengal
22.5726459 88.3638953
Processing Epsom, England
51.3326098 -0.2678212
Processing nan, nan
29.3644727 112.3905651
Processing Fuan, Fujian
26.8374358 119.7128302
Processing Clay Cross, England
53.1652765 -1.4132383
Processing Masham, England
54.2220086 -1.6564736
Processing Grantham, England
52.913192 -0.6438974
Processing Wimbledon, England
51.4214787 -0.2064027
Processing Wimbledon, England
51.4214787 -0.2064027
Processing Kingston, Kingston
17.9712148 -76.7928128
Processing Melbourne, Victoria
-37.8142454 144.9631732
Processing Natal, KwaZulu-Natal
-29.861825 31.009909
Processing Dumfries, Scotland
55.0691397 -3.6107936
Processing Barnes, England
51.4737383 -0.2492849
Processing Brighton, England
50.8214626 -0.1400561
Processing Welwyn Garden City, England
51.8031083 -0.2068872
Processing Lyndhurst, England
50.8727657 -1.5748436
Processing Walthamstow, England
51.5844701 -0.0188186
Processing Oxford, England
51.7520131 -1.2578499
Processing Hanwell, England
51.5089838 -0.3381584
Processing Bolton, England
53.5782863 -2.4300367

In [74]:
nocs.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [72]:


# Example usage
city = "Madrid"
region = "Espana"
country = ""
coordinates = get_coordinates(city, region, country)
if coordinates:
    latitude, longitude = coordinates
    print(f"The coordinates of {city}, {region}, {country} are: Latitude: {latitude}, Longitude: {longitude}")
else:
    print("Coordinates not found for the specified location.")

The coordinates of Madrid, Espana,  are: Latitude: 40.4167047, Longitude: -3.7035825

### Add medalists info to the visualization of athlete bios

In [4]:
bios_locs = pd.read_csv(f"{directory}/bios_locs.csv")
results = pd.read_csv(f"{directory}/results.csv")

In [5]:
medalists = results[results['medal'].notna()].drop_duplicates(subset=['athlete_id'])

In [9]:
bios_locs['has_medaled'] = False
bios_locs.loc[bios_locs['athlete_id'].isin(medalists['athlete_id']), 'has_medaled'] = True

In [12]:
bios_locs.to_csv('./clean-data/bios_locs.csv',index=False)